<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tradehero.cfd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <!-- 允许App开机启动，来接收推送 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <!--发送持久广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY"></uses-permission>
    <!-- 修改全局系统设置-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
    <!-- 允许振动，在接收推送时提示客户 -->
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <!-- 侦测Wifi 变化，以针对不同 Wifi 控制最佳心跳频率，确保push的通道稳定 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 此权限用于在接到推送时，可唤醒屏幕，可选择性添加权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <!-- 个推 -->
    <uses-permission android:name="android.permission.REQUEST_PERMISSION"></uses-permission>



    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:name=".CFDApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "cfd://page” -->
                <data android:scheme="cfd"
                    android:host="page" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="www.cfd.com"
                    android:pathPrefix="/page" />

            </intent-filter>
        </activity>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <activity android:name=".NativeViewActivity"/>

        <service
            android:name="com.apptalkingdata.push.service.PushService"
            android:process=":push"
            android:exported="true">
        </service>
        <receiver
            android:name=".GeTuiBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <!-- APPID需要替换为相应的个推应用ID -->
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.apptalkingdata.push.service.PushServiceReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CMD"></action>
                <action android:name="android.talkingdata.action.notification.SHOW"></action>
                <action android:name="android.talkingdata.action.media.MESSAGE"></action>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
                <action android:name="android.intent.action.USER_PRESENT"></action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.tendcloud.tenddata.TalkingDataAppMessageReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.talkingdata.action.media.SILENT"></action>
                <action android:name="android.talkingdata.action.media.TD.TOKEN"></action>
            </intent-filter>
            <intent-filter>
                <action android:name="com.talkingdata.notification.click"></action>
                <action android:name="com.talkingdata.message.click"></action>
            </intent-filter>
        </receiver>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="900028261" /> <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="${VERSION_NAME}" /> <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="360" /> <!-- 配置Bugly调试模式(true或者false)-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
        <meta-data
            android:name="TD_APP_ID"
            android:value="${TD_APP_ID}"/>
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TD_CHANNEL_ID}" />
        <meta-data
            android:name="TONGDAO_APP_KEY"
            android:value="${TONGDAO_APP_KEY}" />
    </application>

</manifest>
